#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  align-self: flex-start;
}

.options-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}