.library-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 3vw;
}

.library-h2 {
  align-self: flex-start; 
  margin-bottom: 30px;
}

.library-options-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
} 

.library-filter {
  margin-left: 10px;
}

