body {
  background-color: #f8f8f8;
  margin: 0;
}

body, 
button, 
input, 
textarea, 
select, 
a, 
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'Open Sans', sans-serif;
}

/* Specific styling for input and textarea placeholders */
input::placeholder, 
textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
  margin: -5px 0;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: -5px 0;
}

.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  height: 100vh;
}

.btn-1 {
  background-color: white;
  border: solid 2px rgb(30, 30, 30);
  border-radius: 7px;
  font-family: 'Open-Sans', sans-serif;
  min-height: 30px;
  min-width: 100px;
  padding: 0 25px;
}

.btn-1:hover {
  background-color: #F8F8F8;
}