.book-container {
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
  color: black;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.book-box img {
  width: 80px;
  height: 100px;
  display: block;
}


