.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F8F8F8;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
  max-width: 500px;
  padding: 20px 20px 50px;
  width: 100%;
}

.close-btn {
  align-self: flex-end;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  width: 30px;
  height: 30px;
  padding: 0;
}

.modal-h2 {
  margin: 10px;
}

.addBook-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.addBook-btn {
  margin-top: 20px;
}
