.header {
  border-bottom: solid 1px #d4d4d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3vw;
}

.logo {
  width: 60px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.nav ul li:not(:first-child) {
  margin-left: 15px;
}