main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 30px;
}

.charter-input {
  border: solid 1px gray;
  border-radius: 7px;
  margin: 15px;
  height: 30px;
  padding: 0 12px;
}

.search-btn {
  margin-bottom: 30px;
}
